<header class="header">

  <div class="logo">
    ✈️ TravelApp
  </div>

  <nav class="menu">
    <a routerLink="/home">Home</a>
    <a routerLink="/destinos">Destinos</a>
    <a routerLink="/paquetes">Paquetes</a>
    <a routerLink="/contacto">Contacto</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/perfil">Perfil</a>
    <a routerLink="/reservas">Reservas</a>
    <a routerLink="/soporte">Soporte</a>

  </nav>

  <div class="right">

    <span class="time">⏰ {{ hora }}</span>

    <button (click)="logout()">
      Cerrar sesión
    </button>

  </div>

</header>