<div class="login-container" [class.exit]="loading">

  <!-- FONDO -->
  <div class="bg-overlay"></div>

  <!-- LADO IZQUIERDO -->
  <div class="left-panel">
    <h1>TravelApp ✈️</h1>
    <p>Descubre destinos únicos y vive experiencias inolvidables.</p>
  </div>

  <!-- LOGIN -->
  <div class="right-panel">

    <div class="login-card" [class.shake]="error">

      <h2>Bienvenida</h2>

      <input
        type="text"
        placeholder="Usuario"
        [(ngModel)]="usuario"
      >

      <input
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
      >

      <button (click)="login()" [disabled]="loading">

        <span *ngIf="!loading">Entrar</span>
        <span *ngIf="loading" class="loader"></span>

      </button>

      <small *ngIf="error" class="error">
        Usuario o contraseña inválidos
      </small>

    </div>

  </div>

</div>