<nav class="navbar">

  <div class="logo">
    TravelApp
  </div>

  <div class="menu">
    <a routerLink="/home">Inicio</a>
    <a routerLink="/destinos">Destinos</a>
    <a routerLink="/contacto">Contacto</a>

    <button (click)="logout()">
      Cerrar Sesión
    </button>
  </div>

</nav>

<section class="hero">

  <div class="hero-content">

    <h1>Descubre el mundo con TravelApp</h1>

    <p>
      Encuentra los mejores destinos turísticos y vive experiencias inolvidables.
    </p>

  </div>

</section>