<div class="home-container">

  <!-- HERO -->
  <section class="hero">

    <div class="hero-content">

      <h1>Bienvenido, {{ usuario }} ✈️</h1>

      <p>
        Descubre experiencias únicas y destinos increíbles alrededor del mundo.
      </p>

      <button routerLink="/destinos">
        Explorar más
      </button>

    </div>

  </section>

  <!-- DESTACADOS -->
 <section class="section">

  <h2>Destinos destacados</h2>

  <div class="cards">

    <div class="card" *ngFor="let item of destacados">

      <div class="img-wrapper">
        <img [src]="item.imagen" />
        <span class="badge">Top</span>
      </div>

      <div class="card-body">
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.descripcion }}</p>

        <button class="btn-card">
          Ver más
        </button>
      </div>

    </div>

  </div>

</section>
</div>