<div class="contacto-container">

  <div class="info">

    <h1>Contáctanos ✈️</h1>

    <p>
      ¿Tienes dudas sobre tu próximo viaje? Estamos aquí para ayudarte.
    </p>

    <div class="detalle">
      📍 Perú - Atención 24/7 <br>
      📧 travelappemail.com <br>
      📞 +51 999 999 999
    </div>

  </div>

  <div class="form">

    <h2>Envíanos un mensaje</h2>

    <input type="text" placeholder="Nombre" [(ngModel)]="nombre">

    <input type="email" placeholder="Correo" [(ngModel)]="email">

    <textarea placeholder="Mensaje" [(ngModel)]="mensaje"></textarea>

    <button (click)="enviar()">
      Enviar mensaje
    </button>

  </div>

</div>